body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 226, 226);
}
.card-container{
    width: 600px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
}
.card-container .card-header{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.card-container .card-header h3{
    width: 220px;
    height: 22px;
}