body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 226, 226);
}
.card-container{
    width: 600px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
}
.card-container .card-header{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.card-container .card-header h3{
    width: 220px;
    height: 22px;
    font-family: 'Anton', sans-serif;
}
.card-container .card-header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.card-container .card-content .card-text{
    padding: 10px;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
}
.card-container .card-content .card-text p{
    height: 18px;
}
.card-container .card-content .card-image img{
    width: 600px;
    height: 600px;
}
.placeholder{
    background: #ccc;
    height: 10px;
    animation-name: placeholder;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes placeholder {
    0%{
        background: #ccc;
    }
    50%{
        background: #eee;
    }
    100%{
        background: #ccc;
    }
}
.fadeIn{
    animation-name: fadeIn;
    animation-duration: 2s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}